.profileCard{
    display:grid;
    grid-template-columns: 100%;
    background-color: hsl(235, 46%, 20%);
    width:20%;
    height:57vh;
    border-radius: 5%;
}
#profile{
    background-color: hsl(246, 80%, 60%);
    width:100%;
    height:40vh;
    border-radius: 5%;
}
#profile figure {
    width: 100%;
}
#profile figure img{
    width: fit-content;
    height: 10vh;
    border:2px solid white;
    margin: 10%;
    border-radius: 9999999rem;
}
#profile #figureCaption{
    margin: 5%;
    margin-left: 10%;
    font-weight: 300;   
}
#profile #figureCaption p{
    font-size: 14px;
    color:hsl(247, 100%, 85%);
}
#profile #figureCaption h1{
    color:hsl(255, 100%, 99%);
    font-weight: 300;
    font-size: 2rem;
}
#reportMode{
    display:flex;
    flex-direction: column;
    margin-top: 5%;
}
#reportMode button{
    border:none;
    background-color: hsl(235, 46%, 20%);
    font-size: 14px;
    color:hsl(247, 100%, 85%);
    font-weight: 300; 
    text-align: start;
    margin: 3%;
    margin-left: 10%;
}
#reportMode button:focus{
    color: hsl(255, 100%, 99%);
}
.reports{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3,calc(100% /3)) ;
    grid-template-rows: repeat(2,50%);
    height: 60vh;
}
.reportCard{
    width: 95%;
    height:25vh;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: end;
    border-radius: 5%;
}
.reportCard :first-child{
    width: 25%;
    height: fit-content;
    
}
.reportData{
    width: 100%;
    margin-top:7vh ;
    height:20vh;
    border-radius: 5%;
    position: absolute;
    background-color:hsl(235, 46%, 20%) ;
}
.reportData :first-child{
    width: 100%;
    display: flex;
    align-items: center;
}
.reportData :first-child img{
    width: 15%;
    height: fit-content;
    padding-right: 1rem;
    padding-top: 1rem;
}

.reportData :first-child p{
    padding-left: 1rem;
    padding-top: 1rem;
    font-weight: 500;
}
.reportData :last-child{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.reportData :last-child :first-child{
    font-size: 3rem;
    font-weight: 300;
    padding-left: 1rem;
}

.reportData :last-child :last-child{
    font-size: 14px;
    padding-left: 1rem;
    color: hsl(247, 100%, 85%);
    font-weight: 300;
}

